.product {
  display: flex;
}

.product-image {
  display: flex;
  flex-direction: column;
}
.inventory {
  text-align: center;
}

.w200{
  width: 200px;
}

.boxContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  width: 30px;
  border: dotted 0.1px gray;
  text-align: center;
  cursor: pointer;
}

.variant {
  width: 100px;
  height: 20px;
}

.cart {
  border:none;
  width: auto;
  text-align: start;
  margin-right: 20px;
}

.amountButtons {
  border:none;
  width: 100px;
}


.cartContainer {
  margin-top: 20px;
  display: flex;
}

.cartContainer button {
  margin-right: 20px;
}